# licenserecon
#
# This file lists files and directories to be excluded from checking,
# to avoid false positives.
#
# Lines starting with # are treated as comments.
# Blank lines are ignored.
# Lines starting with minus sign(s) are treated as command line options
#
# Additional files may be excluded on a per package basis by creating an optional file
# debian/lrc.config in the package source.
# File names may include a partial path.
# Wildcards '*' not supported
#
# These files often contain licenses for other files.
#  (File foo also treated as foo.*)
lib/vssh/curl_path.c
m4/libtool.m4
packages/vms/curl_crtl_init.c
